* {
    box-sizing: border-box;
}

header {
    min-height: 142px;
    position: relative;
}

img {
    max-width: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.navbar-social {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    min-height: 92px;
}

.social {
    list-style: none;
    display: flex;
    margin-top: 33px;
}

.social_item {
    margin-right: 20px;
}

.social_item:last-child {
    margin-right: 0;
}

.header_btn {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #5E727C;
    width: 200px;
    height: 45px;
    border: 1px solid #5E727C;
    border-radius: 4px;
    margin-top: 33px;
    background-color: #FFFFFF;
}

.menu_block {
    height: 50px;
    background-color: #B7C136;
}

.menu_item {
    display: flex;
}

.menu_list {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 0;
}

.menu_item {
    margin-top: 17px;
    margin-right: 60px;
}

.menu_link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.search_link {
    display: block;
    margin-top: 12px;
}

.family_form_menu{
    display: none;
}

.header_img {
    position: absolute;
    bottom: 90px;
}

.logotip {
    background-color: #FFFFFF;
}

.row_height {
    min-height: 50px;
}

.carousel {
    width: 100%;
}

.carousel-item {
    position: relative;
}

.main_title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
    width: 439px;
    position: absolute;
    top: 70px;
    left:625px;
    margin-bottom: 0;
}

.main-title-2 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #5E727C;
    position: absolute;
    top: 330px;
    left: 465px;
}

.main_title-3 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #5E727C;
    position: absolute;
    top: 119px;
    left: 625px;
    width: 583px;
}

.main_subtitle-3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #5E727C;
    width: 481px;
    top: 233px;
    left: 625px;
    position: absolute;
}

.carousel-indicators li {
    background-color: #B7C136;
}

.main_subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;
    color: #FFFFFF;
    position: absolute;
    top: 278px;
    left: 625px;
}

.main_info {
    min-height: 307px;
    background-color: #FFFFFF;
    padding: 35px 0 61px 0;
}

.background_main {
    width: 100%;
}



.achievements_item:nth-child(1) .achievements_number {
    color: #5795AA;
}

.achievements_item:nth-child(2) .achievements_number{
    color: #FFBE3B;
}

.achievements_item:nth-child(3) .achievements_number{
    color: #D35F8E;
}

.item_third::before{
    position: absolute;
    content: "более";
    color: rgb(112, 106, 94);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    right: 270px;
    top: 25px;
}

  .achievements_item div .achievements_number{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    position: relative;
    margin: 0 auto;
    max-width: 150px;
    top: -40px;
    background-color: #fff;
    left: 0;
    line-height: 84px;
    display: block;
}


.information_portal {
    display: flex;
    justify-content: space-around;
    padding: 50px 0 50px 0;
    
}
.achievements_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #706A5E;
    position: relative;
    bottom: 30px;
}
.achievements_item div {
    text-align: center;
    border: 1px solid #d2e019;
    width: 240px;
    height: 140px;
    margin: 0 auto; 
}

.navbar-light .navbar-toggler {
    border: none;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(../icons/icon_burger.svg);
}




.All_family {
    min-height: 600px;
    padding: 68px 0 46px 0;
    background: url("../img/family_bg.jpg") center center/cover no-repeat;
}

.family,
.family-development {
    display: flex;
}

.family_title {
    font-weight: 700;
    font-size: 23px;
    line-height: 140%;
    color: #003249;
}

.development_title {
    color: #FFFFFF;
}

.family_item {
    list-style: none;
    margin-right: 33px;
}

.family_link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #5E727C;
    position: relative;

}

.development_link {
    color: #FFFFFF;
}

.development_link:hover {
    color: #5E727C;
}

.family_link:last-child {
    margin-right: 0;
}

.btn_arrow {
    width: 40px;
    height: 40px;
    border: 1px solid #007BBA;
}

.btn_arrow-2 {
    border: 1px solid #FFFFFF;
    width: 40px;
    height: 40px;
}

.btn_menu {
    display: flex;
    position: relative;
}

.btn_menu_2 {
    display: flex;
    position: relative;
    left: 15px;
}

.turn_left_1 svg {
    position: absolute;
    top: 10px;
    left: 10px;
}

.turn_right_1 svg {
    position: absolute;
    top: 10px;
    left: 55px;
}

.turn_left_2 svg {
    left: 10px;
    top: 5px;
    position: relative;
}

.turn_right_2 svg {
    left: 10px;
    top: 5px;
    position: relative;
}

.family_card,
.development_card {
    height: 318px;
    margin-top: 38px;
    position: relative;
    width: 270px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.family_card_descr {
    min-width: 200px;
    min-height: 40px;
    border-radius: 4px;
    position: absolute;
    top: 142px;
    left: 35px;
    right: 35px;
}

.family_info {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFF9E9;
    margin: 6px 6px 10px 6px;

}

.family_text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #003249;
    margin: 34px 20px 42px 20px;
    width: 230px;
    height: 82px;
}

.card_date {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #5E727C;
}

.development_date {
    color: #FFFFFF;
}

.card_social {
    list-style: none;
    display: flex;
}

.card_grey {
    background-color: #5E727C;
}

.card_red {
    background-color: #ED564A;
}

.card_green {
    background-color: #B5AC3A;
}

.card_orange {
    background-color: #D68F32;
}

.card_item {
    margin-right: 13px;
}

.card_item:last-child {
    margin-right: 0;
}

.card_item img {
    width: 15px;
}

.card_wrapper,
.development_wrapper {
    display: flex;
    align-items: baseline;
    position: absolute;
    bottom: 1px;
    left: 19px;
}

.family_line {
    border-bottom: 1px solid #007BBA;
}

.family_line-2 {
    border-bottom: 1px solid #FFFFFF;
}


.family_btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #5E727C;
    width: 200px;
    height: 45px;
    border: 1px solid #5E727C;
    background-color: #FFFFFF;
    border-radius: 4px;
    display: block;
    margin: 50px auto 0 auto;
}

.development_btn {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background-color: #7CB3CE;

}

.questions_title {
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    color: #003249;
}

.seach_question {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    color: #C4C4C4;
}

.search_wrapper {
    display: flex;
}

.questions_answer {
    padding: 47px 0 40px 0;
}

.search {
    display: flex;
    align-items: center;
}

.search_question {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #C4C4C4;
    margin-right: 27px;
}

.questions_subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #007BBA;
    margin-top: 42px;
}

.questions {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #000000;
}

.bottom_line {
    border-bottom: 1px solid #C4C4C4;
}

.questions_wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #C4C4C4;
    margin-top: 10px;
}

.questions {
    margin-top: 17px;
    margin-bottom: 0;
}

.arrow_img {
    margin-bottom: 18px;
}

.ask {
    background-color: #F5F5F4;
    border-radius: 4px;
    height: 457px;
    width: 220px;
    margin-top: 26px;
    padding: 43px 35px 24px 35px;
}

.ask_title {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #000000;
    margin-bottom: 42px;
}

.btn_ask {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    background-color: #B7C136;
    border-radius: 4px;
    max-width: 160px;
    padding: 15px 35px;
    border: none;
    margin-bottom: 23px;
}

.questions_answer_link {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #007BBA;
    display: block;
    margin-top: 34px;
}

.developments {
    min-height: 600px;
    background-color: #7CB3CE;
    padding: 66px 0 46px 0;
}

.development_text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin: 0;

}

.development_block {
    position: absolute;
    top: 202px;
    left: 20px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

footer {
    min-height: 50px;
    background-color: #5E727C;
}

.footer_block {
    margin: 18px 0 18px 0;
}

.footer_link {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.header_btn:hover {
    background: #e7e7e7;
}

.header_btn:focus {
    background: #e7e7e7;
    outline: none;
}

.header_btn:active {
    color: #000000
}

.header_btn:disabled {
    background-color: #e5e5e5;
    cursor: auto;
}

.menu_link:hover {
    text-decoration: none;
    color: #000000;
}

.menu_link_svg {
    color: #ffffff;
}

.menu_link_svg:hover {
    color: #000000;
}

.family_btn:hover {
    background: #B7C136;
    color: #ffffff;
}

.family_btn:focus {
    background: #B7C136;
    outline: none;
}

.family_btn:active {
    color: #ffffff;
}

.family_btn:disabled {
    background-color: #e5e5e5;
    cursor: auto;
}

.family_link:hover::before {
    width: 100%;
    color: #007BBA;
    font-weight: 700;
    position: absolute;
    content: "";
    height: 2px;
    background-color: #007BBA;
    bottom: 20px;
}

.development_link:hover::before {
    color: #5E727C;
    background-color: #5E727C;
}

.questions_answer_link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.qustions_link {
    display: block;
    width: 70px;
    height: 70px;
    color: #F5F5F4;
    margin-bottom: 18px;
    cursor: pointer;
}

.qustions_link:hover svg {
    color: #B7C136;
    transition: 0.2s;
}

.qustions_link svg path {
    color: #B7C136;
}

.qustions_link:hover svg path {
    color: #FFFFFF;
}

.btn_ask:hover {
    background-color: #F5F5F4;
    color: #B7C136;
    outline: 1px solid #B7C136;
    transition: 0.2s;
}

.questions_answer_link:hover {
    color: #B7C136;
    transition: 0.2s;
}

.footer_link:hover {
    color: #ffffff;
}



/*Адаптивные версии*/

@media only screen and (max-width: 1200px) {
    .header_img {
        position: absolute;
        bottom: 85px;
        left: 3px;
    }

    .menu_item {
        margin-top: 15px;
        margin-right: 40px;
    }

    .menu_link {
        font-size: 13px;
    }

    .information_img {
        width: 100%;
        margin-left: -35px;
    }



    .main_title {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #ffffff;
        width: 382px;
        position: absolute;
        top: 40px;
        left: 540px;
        margin-bottom: 0;
    }

    .main_title-3 {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
        color: #5E727C;
        width: 350px;
        position: absolute;
        top: 40px;
        left: 140px;
        margin-bottom: 0;
    }

    .main_subtitle-3 {
        left: 140px;
        top: 110px;
        width: 350px;
        font-size: 14px;

    }

    .family_card {
        display: flex;
        flex-wrap: wrap;
    }

    .family_card {
        width: 225px;
    }

    .family_card_descr {
        top: 133px;
        left: 15px;
    }

    .family_text {
        font-size: 13px;
    }

    .card_item {
        margin-right: 2px;
    }

    .ask {

        width: 230px;
    }

    .btn_ask {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
        background-color: #B7C136;
        border-radius: 4px;
        min-width: 165px;
        padding: 10px 30px;
        border: none;
        margin-bottom: 23px;
    }

    .family_img {
        margin-top: 35px;
    }

    .development_card {
        height: 318px;
        margin-top: 38px;
        position: relative;
        width: 230px;
        border-radius: 4px;
        box-shadow: none;
    }

    .development_text {
        font-weight: 500;
        font-size: 13px;
        line-height: 150%;
        color: #FFFFFF;
        margin: 0;
    }

    .development_block {
        position: absolute;
        top: 170px;
        left: 20px;
        display: flex;
        justify-content: end;
        align-items: flex-end;
    }

    .development_wrapper {
        display: flex;
        align-items: baseline;
        position: absolute;
        bottom: 40px;
        left: 19px;
    }

    .development_btn {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #5E727C;
        width: 200px;
        height: 45px;
        border: 1px solid #5E727C;
        background-color: #FFFFFF;
        border-radius: 4px;
        display: block;
        margin: 10px auto 0 auto;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        background-color: #7CB3CE;
    }

    .turn_left_2 svg {
        left: 10px;
        top: 5px;
        position: relative;
    }

    .turn_right_2 svg {
        left: 10px;
        top: 5px;
        position: relative;
    }

}

    /* меню кнопка закрытие*/
@media only screen and (min-width: 992px) {
    .offcanvas-close {
        display: none;
    }

    .navbar {
        z-index: -10000;
    }
}

    /*меню кнопка offcanvas*/
@media only screen and (max-width: 991.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 0;
        bottom: 0;
        left: -300px;
        width: 300px;
        padding-top: 3rem;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #e0e0e0;
        transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
        z-index: 1000;
    }

    .offcanvas-collapse.open {
        visibility: visible;
        -webkit-transform: translateX(300px);
        transform: translateX(300px);

    }

    .offcanvas-close {
        position: absolute;
        font-size: 2.5rem;
        font-weight: 700;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.3);
        border: none;
        -webkit-appearance: button;
        background-color: transparent;
        right: 0;
        top: 0;
        padding: 0 1.5rem;
    }

    .offcanvas-open {
        overflow: hidden;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199.99px) {
    .menu_link {
        font-size: 13px;
    }

    .header_img {
        position: absolute;
        bottom: 90px;
        left: 1px;
    }

    .menu_item {
        margin-right: 41px;
    }

    .logotip {
        max-width: 140% !important;
        background-color: #FFFFFF;
    }

    .information {
        flex-direction: column;
        align-items: center;
    }

    .main_title {
        top: 15px;
        left: 140px;
        font-size: 25px;
    }

    .item_third::before {
        position: absolute;
        content: "более";
        color: rgb(112, 106, 94);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        right: 240px;
        top: 25px;
    }

    .main_subtitle {
        top: 110px;
        left: 143px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        position: absolute;
    }

    .main_title-3 {
        top: 15px;
        left: 140px;
        font-size: 25px;
    }

    .main_subtitle-3 {
        top: 90px;
        left: 140px;
        font-size: 16px;
    }

    .carousel-indicators {
        position: absolute;
        right: 0;
        bottom: -20px;
        left: -10px;
        z-index: 15;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: flex-start;
        padding-left: 0;
        margin-right: 15%;
        margin-left: 15%;
        list-style: none;
    }

    .family_title {
        font-weight: 700;
        font-size: 17px;
    }

    .family_card {
        max-width: 200px;
    }

    .family_card_descr {
        min-width: 120px;
        min-height: 40px;
        border-radius: 4px;
        position: absolute;
        top: 105px;
        left: 25px;
        right: 35px;
    }

    .family_info {
        font-weight: 500;
        font-size: 10px;
        line-height: 10px;
        text-align: center;
        color: #FFF9E9;
        margin: 6px 6px 10px 6px;
    }

    .family_text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        max-width: 180px;
        margin-top: 10px;
        
    }

    .card_item {
        margin: 0 35px 0 -35px;
    }

    .questions_title {
        font-size: 16px;
    }

    .turn_right_2 svg {
        position: absolute;
        top: 10px;
        left: 50px;
    }

    .turn_left_2 svg {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .btn_arrow-2 {
        border: 1px solid #FFFFFF;
        width: 40px;
        height: 40px;

    }

    .development_card {
        max-width: 210px;
        height: 240px;
    }

    .development_text {
        font-weight: 500;
        font-size: 12px;
        line-height: 110%;
        color: #FFFFFF;
        margin: 0;
        position: relative;
        top: 35px;
    }

    .development_block {
        position: absolute;
        top: 110px;
        left: 20px;
        display: flex;
        justify-content: end;
        align-items: flex-end;
    }

    .development_wrapper {
        display: flex;
        align-items: baseline;
        position: absolute;
        bottom: 0;
        left: 19px;
    }

    .development_btn {
        margin-top: 100px;
    }

    .developments {
        min-height: 580px;
        padding: 40px 0 49px 0;
    }

    .footer_block {
        margin: 18px 0 18px -30px;
    }
}


@media only screen and (max-width:320px) {

    html,
    body {
        overflow-x: hidden;
    }

    .social {
        display: none;
    }

    .button-write {
        display: none;
    }

    .menu_list {
        display: none;
    }

    .search_link {
        position: relative;
        left: 5px;
        bottom: 80px;
    }

    .header_img {
        width: 100%;
        position: relative;
        top: -4px;
        left: 0px;
        z-index: 10;
    }

    .logotip {
        margin: 0 auto;
        z-index: 0;
        height: 52px;
        position: relative;
        left: 10px;
        bottom: 56px;
    }

    .img-carousel {
        height: 105px;
        width: 100%;
    }

    .main_title {
        font-size: 14px;
        line-height: 16px;
        max-width: 164px;
        height: 48px;
        position: absolute;
        top: 10px;
        left: 10px;
        word-wrap: break-word;
    }

    .main_subtitle {
        font-size: 12px;
        line-height: 14px;
        top: 62px;
        left: 10px;
        max-width: 187px;
        height: 6px;
    }

    .carousel-indicators {
        position: absolute;
        right: 0px;
        bottom: -5px;
        left: -155px;
        z-index: 15;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        padding-left: 0;
        margin-right: 15%;
        margin-left: 15%;
        list-style: none;
        margin-bottom: 0;
    }

    .main_title-3 {
        font-size: 14px;
        line-height: 16px;
        position: absolute;
        top: 10px;
        left: 10px;
        max-width: 215px;
        height: 30px;

    }

    .main_subtitle-3 {
        font-size: 12px;
        line-height: 14px;
        top: 42px;
        left: 10px;
        max-width: 210px;
        height: 10px;
    }

    .menu_link_svg {
        position: relative;
        bottom: 27px;
        left: 245px;
    }

    .row_height {
        position: relative;
    }


    .family_form_menu {
        display: block;
        width: 280px;
        border-radius: 4px;
        height: 40px;
        background-color: #F5F5F4;
        color: #007BBA;
        border: 1px solid #ffffff;
        position: relative;
        top: 10px;
        right: 15px;
    }

    .All_family{
        padding: 0 20px 46px 20px;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-self: center;
    }

    .search_question {
        display: none;
    }

    .search_icons {
        margin-left: auto;
    }

    .questions_title {
        font-size: 24px;
        font-weight: 700;
        position: relative;
        top: 30px;
        left: 10px;
    }

    .qustions_link {
        display: flex;
        align-self: flex-end;
    }

    .questions {
        margin-top: 7px;
        margin-bottom: 10px;
        margin-left: 0;
        font-size: 14px;
        font-family: 'Proxima Nova', sans-serif;
    }

    .questions_answer_link {
        text-decoration: underline;
        margin-left: 20px;
        font-size: 16px;
    }

    .development_title {
        font-weight: 500;
        font-size: 24px;
    }

    .ask {
        background-color: #F5F5F4;
        border-radius: 4px;
        height: 457px;
        width: 280px;
        display: flex;
        flex-direction: column;
    }

    .ask_title {
        order: 1;
        font-size: 16px;
        margin-bottom: 60px;
        font-family: 'Proxima Nova', sans-serif;
    }

    .ask_block {
        display: flex;
        justify-content: center;
    }

    .btn_ask {
        order: 2;
        margin: 0 auto;

    }

    .family_img {
        order: 3;
        width: 170px;
        height: 175px;
        position: relative;
        bottom: 0px;
        left: 23px;
    }

    .family-development {
        display: none;
    }

    .family_title {
        position: relative;
        top: 40px;
        left: 10px;
    }

    .family_text {
        font-size: 16px;
    }

    .development_wrapper {
        display: flex;
        bottom: 40px;
        left: 23px;
    }

    .developments {
        min-height: 600px;
        background-color: #7CB3CE;
        padding: 66px 20px 46px 20px;
    }

    .development_block {
        top: 183px;
        left: 16px;
    }

    .btn_arrow {
        position: relative;
        left: 0;
    }

    .turn_left_1 svg {
        top: 10px;
        left: 10px;
    }

    .turn_right_1 svg {
        top: 10px;
        left: 10px;
    }

    .card_item {
        margin-right: 10px;
        width: 15px;
    }

    .card_item_2{
        margin-right: 5px;
        width: 15px;
    }

    .family {
        display: none;
    }

    .family_card {
        width: 100%;
    }

    .family_card_desc {
        width: 100%;
    }

    .footer_block {
        margin: 18px 0 18px 43px;
    }

    .information_portal {
        display: flex;
        flex-direction: column;
    }
    
    .achievements_item div {
        margin-bottom: 20px;
    }

    .item_third::before {
        position: absolute;
        content: "более";
        color: rgb(112, 106, 94);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        right: 240px;
        top: 346px;
    }

    .btn_menu_2 {
        display: flex;
        position: relative;
        justify-content: flex-end;
    }

    .btn_arrow-2 {
    width: 40px;
    height: 40px;
    border: 1px solid  #FFFFFF;
    }
    

    .turn_left_2 svg {
        top: 5px;
        left: 10px;
    }

    .turn_right_2 svg {
        top: 5px;
        left: 10px;
    }

}



/*
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .button-write {
        display: none;
    }

    .logotip {
        min-height: 50px;
        background-color: #FFFFFF;
        position: relative;
        left: 0;
    }

    .menu_list {
        display: none;
    }

    .header_img {
        position: relative;
        left: 20px;
        bottom: 70px;
    }

    .search_link {
        position: relative;
        left: 160px;
    }



    .main_title {
        font-size: 18px;
        position: absolute;
        top: 15px;
        left: 60px;
        margin-bottom: 0;
        line-height: 20px;
    }

    .main_subtitle {
        font-size: 17px;
        position: absolute;
        top: 80px;
        left: 60px;
        margin-bottom: 0;
    }

    

    .main_title-3 {
        font-size: 18px;
        position: absolute;
        top: 15px;
        left: 60px;
        margin-bottom: 0;
    }

    .main_subtitle-3 {
        font-size: 16px;
        position: absolute;
        top: 80px;
        left: 60px;
        margin-bottom: 0;
    }


    .information_portal {
        display: flex;
        flex-direction: column;
        padding-bottom: 37px;
    }
    
    .achievements_item div {
        margin-bottom: 50px;
    }

    .item_third::before {
        position: absolute;
        content: "более";
        color: rgb(112, 106, 94);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        right: 440px;
        top: 405px;
    }

    .social {
        display: none;
    }

    .All_family {
        position: relative;
        padding: 0 0 46px 0;
    }

    .family_title {
        font-weight: 700;
        font-size: 17px;
        position: absolute;
        top: 6px;
    }

    .family,
    .family-development {
        display: none;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .family_card {
        max-width: 270px;
    }

    .family_text {
        font-size: 16px;
    }

    .card_item {
        margin-right: 3px;
    }

    .development_card {
        max-width: 225px;
    }

    .development_block {
        top: 190px;
    }

    .card_item img {
        width: 23px;
    }

    .development_card_1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .development_card_2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .development_card_3 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .development_card_4 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .family_card_1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .family_card_2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .family_card_3 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .family_card_4 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .family_card_descr {
        min-width: 120px;
        min-height: 40px;
        border-radius: 4px;
        position: absolute;
        top: 140px;
        left: 25px;
        right: 35px;
    }

    .family_info {
        font-weight: 500;
        font-size: 12px;
        line-height: 10px;
        text-align: center;
        color: #FFF9E9;
        margin: 10px 6px 10px 6px;
    }

    .search_question {
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        text-align: right;
        color: #C4C4C4;
        margin-right: 25px;
        margin-left: auto;
    }

    .questions_title {
        font-size: 16px;
        position: absolute;
        top: 1px;
    }

    .ask {
        background-color: #F5F5F4;
        border-radius: 4px;
        height: 150px;
        width: 715px;
        display: flex;
        justify-content: space-between;
    }

    .ask_block {
        position: relative;
        top: 540px;
        right: 550px;
    }


    .questions_answer {
        padding: 47px 0 200px 0;
    }

    .family_img {
        order: 1;
        width: 140px;
        height: 120px;
        position: relative;
        bottom: 35px;

    }

    .ask_title {
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: #000000;
        margin: 0;
        order: 2;

    }

    .btn_ask {
        order: 3;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
        background-color: #B7C136;
        border-radius: 4px;
        min-width: 170px;
        padding: 10px 30px;
        border: none;
    }

    .btn_menu_2 {
        margin-left: auto;
        display: flex;
        position: relative;
        justify-content: flex-end;

    }

    .turn_left_2 svg {
        top: 10px;
        left: 10px;
        position: absolute;
    }

    .turn_right_2 svg {
        top: 10px;
        left: 40px;
        position: absolute;
    }

    .development_card {
        max-width: 270px;
    }

    .footer_block {
        position: absolute;
        width: 282px;
        height: 14px;
        left: calc(50% - 282px/2);
        top: calc(50% - 14px/2);
    }

}
*/
